export PATH="{{ .chezmoi.homeDir }}/.local/bin:{{ .chezmoi.homeDir }}/.cargo/bin:$PATH"
alias vim='nvim'
alias python='python3'
alias py='python3'
export CARAPACE_BRIDGES="zsh,fish,bash,inshellisense"
