{{- $instance := "" -}}
{{- range .dotfiles_ai.sandbox.workspaces -}}
{{- if eq .name $.dotfiles_ai.sandbox.atuin_workspace -}}
{{- $instance = .instance -}}
{{- end -}}
{{- end -}}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>dev.dotfiles-ai.atuin-workspace</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{ printf "%s/.local/bin/state-root-exec" .chezmoi.homeDir | html }}</string>
        <string>/opt/homebrew/bin/limactl</string>
        <string>start</string>
        <string>{{ $instance | html }}</string>
        <string>--foreground</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>HOME</key>
        <string>{{ .chezmoi.homeDir | html }}</string>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/bin:/bin</string>
        <key>LIMA_HOME</key>
        <string>{{ .dotfiles_ai.sandbox.lima_home | html }}</string>{{ if .dotfiles_ai.state.root }}
        <key>DOTFILES_AI_STATE_ROOT</key>
        <string>{{ .dotfiles_ai.state.root | html }}</string>{{ end }}
    </dict>
    <key>LimitLoadToSessionType</key>
    <string>Aqua</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>
    <key>ThrottleInterval</key>
    <integer>60</integer>
    <key>StandardOutPath</key>
    <string>{{ printf "%s/Library/Logs/atuin-workspace.log" .chezmoi.homeDir | html }}</string>
    <key>StandardErrorPath</key>
    <string>{{ printf "%s/Library/Logs/atuin-workspace.log" .chezmoi.homeDir | html }}</string>
</dict>
</plist>
