<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>dev.dotfiles-ai.dbsctr-watchdog</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{ printf "%s/.local/bin/dbsctr-rnd" .chezmoi.homeDir | html }}</string>
        <string>watchdog</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>HOME</key>
        <string>{{ .chezmoi.homeDir | html }}</string>
        <key>PATH</key>
        <string>{{ .chezmoi.homeDir | html }}/.local/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
    </dict>
    <key>LimitLoadToSessionType</key>
    <string>Aqua</string>
    <key>RunAtLoad</key>
    <true/>
    <key>StartInterval</key>
    <integer>{{ .dotfiles_ai.rnd.watchdog_interval_seconds }}</integer>
    <key>StandardOutPath</key>
    <string>{{ printf "%s/Library/Logs/dbsctr-rnd-watchdog.log" .chezmoi.homeDir | html }}</string>
    <key>StandardErrorPath</key>
    <string>{{ printf "%s/Library/Logs/dbsctr-rnd-watchdog.err.log" .chezmoi.homeDir | html }}</string>
</dict>
</plist>
