<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>dev.dotfiles-ai.herdr-server</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{ .dotfiles_ai.herdr.executable | html }}</string>
        <string>server</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>HOME</key>
        <string>{{ .chezmoi.homeDir | html }}</string>
        <key>LANG</key>
        <string>en_US.UTF-8</string>
        <key>LC_CTYPE</key>
        <string>en_US.UTF-8</string>
        <key>PATH</key>
        <string>{{ .chezmoi.homeDir | html }}/.local/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
    </dict>
    <key>LimitLoadToSessionType</key>
    <string>Aqua</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>ThrottleInterval</key>
    <integer>10</integer>
    <key>StandardOutPath</key>
    <string>{{ printf "%s/Library/Logs/herdr-server.log" .chezmoi.homeDir | html }}</string>
    <key>StandardErrorPath</key>
    <string>{{ printf "%s/Library/Logs/herdr-server.err.log" .chezmoi.homeDir | html }}</string>
</dict>
</plist>
