export REMOTE_DEV_REPOSITORY={{ .dotfiles_ai.remote_workspace.repository | quote }}
export REMOTE_DEV_PROJECT={{ .dotfiles_ai.remote_workspace.project | quote }}
export REMOTE_DEV_ZONE={{ .dotfiles_ai.remote_workspace.zone | quote }}
export REMOTE_DEV_INSTANCE={{ .dotfiles_ai.remote_workspace.instance | quote }}
{{- if .dotfiles_ai.remote_workspace.account }}
export REMOTE_DEV_ACCOUNT={{ .dotfiles_ai.remote_workspace.account | quote }}
{{- end }}
{{- if .dotfiles_ai.remote_workspace.tailscale_host }}
export REMOTE_DEV_TAILSCALE_HOST={{ .dotfiles_ai.remote_workspace.tailscale_host | quote }}
{{- end }}
